.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    /* padding-bottom: 4rem; */
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 0.5rem 0;
}

.login__input {
    width: 15rem;

    padding: calc(0.55rem - 1px) calc(0.8rem - 1px);

    border: 1px solid rgb(0 0 0);
    border-radius: 0.35rem;

    color: rgb(40 40 40);

    font-size: 0.85rem;
    font-family: 'Poppins', sans-serif;
}

.login__input:focus {
    padding: calc(0.55rem - 3px) calc(0.8rem - 3px);
    border-width: 3px;

    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
}

.login__input::placeholder {
    font-size: 0.8rem;
}

.login__input--error {
    border-color: rgb(235 25 25);
}

.login__label {
    margin-left: 1.0rem;
    margin-bottom: 0.4rem;

    font-size: 0.95rem;
    font-family: 'Roboto Slab', serif;
}

.login__error {
    margin-left: 0.5rem;
    margin-top: 0.2rem;

    color: rgb(235 25 25);

    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
}

.login__submit {
    width: 100%;

    margin: 1.2rem 0;

    padding: 0.3rem 0;

    border-radius: 0.5rem;

    background-color: rgb(121 173 220);
    color: rgb(255 255 255);

    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
}

.login__submit:hover {
    cursor: pointer;

    background-color: rgb(46 117 178);
}

.signup-text {
    margin-top: 0.3rem;

    font-size: 0.9rem;
    font-family: 'Roboto Slab', serif;
}

.signup-text__link {
    color: rgb(46 117 178);

    font-size: 1.0rem;
    font-family: 'Roboto Slab', serif;
}